* {

    margin: 0px;
    padding: 0px;
}
main {
    display: flex;


}
#map {
    height: 100vh;
    width: 100%;
}
aside {
    position: relative;
}
.w-50 {
    width: 50%;
}
.center {

    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #cccccc;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.6;
}
.font-sans-serif{
    font-family: sans-serif;

}
.bg-blue {
    background-color: rgb(7, 7, 36);
}
.txt-white{
    color: white;
}
form { 
    width: 100%;
}

label { 
    display: block;
    margin-top: 10px;
}

input, select, button { 
    width: 100%;
    padding: 6px;      
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

.hidden {
    display: none;
}

.f-container {
    width: 250px;   
    padding: 15px;
    border-radius: 12px;
    margin: auto;
    margin-top: 40px;
}

.bg-grey {
    background-color: #2e2e2e;
}

.text-white {
    color: #ffffff;
}

.bg-greyish {
    background-color: #444444;
    color: white;
}

button {
    background-color: #5a5a5a;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6d6d6d;
}